// ===============================================
// Footer
// ===============================================
footer {
  padding-block: 1rem;
  p {
    @include font(300, 1rem, $white);
    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
